<!DOCTYPE html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <link rel="icon" type="image/x-icon" href="static/favicon.ico">
        <link rel="stylesheet" href="styles.css">
        <title>CrimSite Draft</title>

        <script src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"></script>
    </head>
    <body>
        <nav>
            <div class="nav-title nav-left" hx-get="index.html" hx-trigger="click" hx-target="html" hx-swap="outerHTML"><div>Church of Crim</div></div>
            <div class="nav-section nav-middle" hx-get="intro.html" hx-trigger="click" hx-target="main" hx-swap="outerHTML"><div>Intro</div></div>
            <div class="nav-section nav-middle" hx-get="duo.html" hx-trigger="click" hx-target="main" hx-swap="outerHTML"><div>DUO</div></div>
            <div class="nav-section nav-middle" hx-get="cards.html" hx-trigger="click" hx-target="main" hx-swap="outerHTML"><div>Cards</div></div>
        </nav>
        <main>
            Welcome to the Church of Crim's website!
            [Insert welcoming Crim]
            Under construction and still very early though............
        </main>
    </body>
</html>
